# Ignore virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore data files
data/raw/
data/processed/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore all csv files
*.csv

*.pkl
*.pyd
*.dll

# Ignore large files
notebooks/final_features.pkl
venv/Lib/site-packages/clang/native/libclang.dll
venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd